<!DOCTYPE html>
<html lang="en">
<head>
    <title>MemeGenerator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'memes/style.css' %}">
</head>
<body>

<div class="header">
    <h1>Meme Generator</h1>
    <p>create your own memes</p>
</div>

<div class="topnav">
    <a href="{% url 'memes:index' %}">Memes</a>
    <a href="{% url 'memes:image_sources' %}">New Meme</a>
    <a href="{% url 'memes:upload' %}">Upload Image Source</a>
    <a href="{% url 'admin:index' %}">Admin</a>
</div>

<div class="row">
    <div class="column middle">
        <h2>Choose the image for your meme</h2>
        {% load static %}
        {% block content %}
        {% for image in latest_images_list %}
        <div class="gallery">
            <a target="_blank" href="{% url 'memes:image' image.id %}">
                <img src="{% static image.path %}"  width="600" height="400">
            </a>
            <div class="desc">{% static image.path %}</div>
        </div>
        {% endfor %}
        {% endblock %}
    </div>
</div>

<div class="footer">
    <p>meme generator</p>
</div>

</body>
</html>