<!DOCTYPE html>
<html lang="en">
<head>
    <title>MemeGenerator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'memes/style.css' %}">
</head>
<body>

<div class="header">
    <h1>Meme Generator</h1>
    <p>create your own memes</p>
</div>

<div class="topnav">
    <a href="{% url 'memes:index' %}">Memes</a>
    <a href="{% url 'memes:image_sources' %}">New Meme</a>
    <a href="{% url 'memes:upload' %}">Upload Image Source</a>
    <a href="{% url 'admin:index' %}">Admin</a>
</div>

<div class="row">
    <div class="column middle">
        <h2>{{ mem.path }}</h2>
        {% load static %}
        <img src="{% static mem.path %}" width="200px"/>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <input onclick="window.open('download')" type="button" value="Download">
    </div>
</div>

<div class="footer">
    <p>meme generator</p>
</div>

</body>
</html>