<!DOCTYPE html>
<html lang="en">
<head>
    <title>MemeGenerator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'memes/style.css' %}">
</head>
<script>
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#myimage').attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
    }
}

</script>
<body>

<div class="header">
    <h1>Meme Generator</h1>
    <p>create your own memes</p>
</div>

<div class="topnav">
    <a href="{% url 'memes:index' %}">Memes</a>
    <a href="{% url 'memes:image_sources' %}">New Meme</a>
    <a href="{% url 'memes:upload' %}">Upload Image Source</a>
    <a href="{% url 'admin:index' %}">Admin</a>
</div>

<div class="row">
    <div class="column middle">
        <h2>Choose the image for your meme</h2>
        {% load static %}
        {% block content %}
        <form action="{% url 'memes:upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" onchange="readURL(this);" name="file">
            <button type="submit">Upload</button>
        </form>
        {% endblock %}
    </div>
</div>

<div class="footer">
    <p>meme generator</p>
</div>

</body>
</html>